@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	font: bold 12px sans-serif;
        color: #090909;
}

body {
	width: 100%;
	margin: 0 auto;
	background-repeat: repeat-x;
	position:relative;
        font:30px/1.5 Arial, Helvetica, sans-serif;
}

.clear{
	clear:both;
}

a:link, a:visited {
	text-decoration: none;
      
}

a:hover, a:active {
	text-decoration: underline;
        background-color: #F05283;
}

h2 {
	font-size: 1.2em;
	font-variant: small-caps;
	color: #6cc606;
}

h1 {
	font-variant: small-caps;
	color: #0099CC;
}

p {
	font-size: 0.8em;
}


em {
	font-weight: bold;
	font-style: normal;
	color: #6cc606;
}

strong {	
	padding-left: 15px;
	color: #333333;
}

/*  HEADER */

#header {
	padding: 15px 0px 15px 20px;
        text-align: center;
}

#header a img {
	border: none;
}

/* END HEADER */

#shadow {
	background:  repeat-y;
	height: auto;
	padding: 0 5px 1px 5px;
}

/* MENU */

#menu {
	height: 50px;
	background: url(images/logo_laacademiacentro.png) repeat-x;
        text-align:center;
        list-style: none;
        border-bottom: 10px solid #EAEAEA;
        padding: 20px;
        margin-top: 0;
        
	}


#menu li {
	
	list-style-type: none;
	padding-top: 5px;
	font: bold 16px sans-serif;
        display: inline-block; 
}








ul a{
    text-decoration: none;
    color: #FFF;
    text-align: left;
    background-color: #BCB8C2;
    padding: 10px 16px;
    border-radius: 2px;
    opacity: 0.8;
    font-size: 16px;
    display: inline-block;
    margin: 4px;
    line-height: 1;
    outline: none;

    transition: 0.2s ease;
}

#bienvenidos{
    font: 16px sans-serif;
}

#edito {
	background: url(images/img_edito.gif) top right no-repeat;
	
       
        
}

#edito h2, #edito p {
	padding-top: 20px;
	padding-right: 100px;
	padding-left: 20px;
        
}

#edito p {
	width: 500px;
}

#edito a:link, #edito a:visited {
	color: #FFFFFF;
	font-size: 16px;
}

#edito a:hover, #edito a:active {
	text-decoration: none;
	color: #333333;
	font-size: 16px;
}

#button_edito {
	display: block;
	height: 25px;
	width: 150px;
	background: url(images/large_button.gif) no-repeat;
	text-align: center;
	padding-top: 3px;
	margin-left: 290px;
	font-weight: bold;
	margin-top:10px;
	padding-bottom:10px;
	
}

/* END EDITO */

#toal {
	height: 20px;
	background: url(images/toal.gif) repeat-x;
}

/* CONTENT */


#content {
	padding: 20px 0;
}

#vertical_barr {
	border-left: #0099CC solid 1px;
	border-right: #0099CC solid 1px;
}


#content div {
	float:left;
	width: 300px;
	padding: 0 30px 0 30px;
}

#content div p {
	padding-top: 10px;
}

#content div p a:link, #content div p a:visited, #content div p a:hover, #content div p a:active {
	color: #333333;
}

#content div li a:link, #content div li a:visited, #content div li a:active, #content div li a:hover {
	color: #6cc606;
	font-weight: bold;
}

a.content_button:link, a.content_button:visited {
	color: #FFFFFF;
}

a.content_button:hover, a.content_button:active {
	text-decoration: none;
	color: #333333;
}

.content_button {
	display: block;
	height: 15px;
	width: 75px;
	background: url(images/little_button.gif) no-repeat;
	margin: 15px 0;
	text-align: center;
	font-weight: bold;
	font-size: 0.7em;
}

#content div ul {
	font-size: 0.8em;
	margin-left: 20px;
}

#content div li {
	padding: 8px 0 0 0;
}

#resol {
	text-align:left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	position:fixed;
	-position:absolute;
	font-size: 10px;
	width:230px;
	top:0px;
	left:1280px;
	margin:0 auto;
	background:#bfc6d9;
	text-align:center;
} 

#resol h1 {
	background:none;
	font-size: 15px;
	letter-spacing:3px;
	padding:0px;
	margin:0px;
	border: 0px;
} 

#resol h2 {
	font-size:10px;
	letter-spacing:3px;
	padding:0px;
	margin:0px;
	border:0px;
	background:none;
}


/* END CONTENT */

/* FOOTER */

#footer {
	height: 70px;
	background: url(images/botton_bg_content.gif) no-repeat;
	padding: 0 5px;
	margin-bottom: 20px;
}

#footer p {
	color: #FFFFFF;
	padding-top: 30px;
	text-align: center;
}

#footer p a {
	color: #FFFFFF;
}

#footer_terms {
width: 100%; bottom: 0px; left: 0px; position: absolute; height: 40px; 
}

#footer_terms h1 {
	padding: 60px 0px 0px 0px; color: #7aaec6;
	text-align:right;
	border:0px;
	font-variant:normal;font-size: 0.8em;font-weight: normal;
	text-decoration:none;background: none;
}

#footer_terms a  { text-decoration: underline;}

#footer_terms strong,#footer_terms a {
	color: #7aaec6;
	font-weight: normal;
	background: none;
}

#holder {
	min-height: 100%; position: relative; margin:0 auto;
	-position:absolute;
	-background: #0099CC url(images/bg_gradient.gif) repeat-x top;
	-overflow-x :hidden;
}

/* END FOOTER */